// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components

@font-face {
    font-family: Calibri;
    src: url('/fonts/Calibri_Regular.ttf');
}

@font-face {
    font-family: Gotham;
    src: url('/fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: IntroDemo;
    src: url('/fonts/IntroDemo-BlackCAPS.ttf');
}

@font-face {
    font-family: WildSmith;
    src: url('/fonts/Wild Smith TTF.ttf');
}

@import './components/project/project';
@import './components/layouts/layout';
@import './components/dashboard/dashboard';
@import './components/modals/pledges';
@import './components/modals/auth';
// @import './components/modals/new-appointments';
// @import './components/modals/new-patient';
// @import './components/modals/new-record';
body{
    font-family: "Gotham";
}
//general styles non-component specific
.error{
    color: red;
}

.bottom-top-borders{
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-top-style: solid !important;
    border-color: #2a2c331f !important;
    border-top-width: 1px !important;
}

.no-padding{
    padding: 0px !important;
}

.no-right-padding{
    padding-right: 0px !important;
}

.view-all{
    margin: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    display: block;
}

.quick-summary-container{
    .quick-summary-item{
        border-bottom-style: solid;
        padding: 10px 15px;
        border-bottom-width: 1px;
        border-color: #2a2c331f;
        .qsi-right{
            text-align: right;
        }
    }
}

.summary-container{
    .summary-headers{
        margin-bottom: 15px;
        padding: 30px 30px 10px 30px;
        border-color: #273D8A;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
    .sh-top{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #8A8D97;
    }
    .sh-bottom{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #293661;
    }
    .summary-items{
        .completed{
            background: #5DA327;
        }
        .pending{
            background: #D7A700;
        }
        .incomplete{
            background: #D92C2C;
        }
        .summary-item-label{
            text-align: center;
            height: 1.5em;
            color: white;
            font-weight: bold;
            padding-top: 3px;
        }
        .summary-item{
            padding: 10px 30px 0px 30px;
            // border-bottom-style: solid;
            // border-bottom-width: 1px;
            // border-top-style: solid;
            // border-color: #2a2c331f;
            // border-top-width: 1px;
            .item-header{
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
            }
            .item-desc{
                font-style: normal;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.custom-searchbar{
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    input{
        margin: 2px;
        margin-left: 10px;
        border: 0;
        background: #f8fafc;
        width: 80%;
    }
    input:focus{
        outline: none;
    }
}

.filter-by{
    font-size: 1.2em;
    span{
        margin-right: 15px;
    }
    a{
        margin: 10px 5px;
    }
}

.loader-container{
    display: flex;
    justify-content: center;
}
.loader { //https://www.w3schools.com/howto/howto_css_loader.asp
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }