#new-pledge-modal{
    @media(max-width: 768px){
        left: 0vw;
    }
    @media(min-width: 768px){
        left: -5vw;
    }
    .modal-content{
        @media(max-width: 768px){
            padding: 20px;        
        }
        @media(min-width: 768px){
            width: 50vw;
            padding: 20px;        
        }
    }

    .pledge-amounts{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .pledge-button{
        margin-top: 20px;
        width: 100%;
    }
    .input-group{
        margin-bottom: 0px !important;
    }
}